-content_for :header do
	= javascript_include_tag 'upload'

- set_headline "Upload a File"

= link_to 'Back to List', documents_path

#progress{:style => 'display: none'}
	File upload in proress
	%div#bar{:style => 'width: 0%'}
		0%

= render :partial => "form"